$S100: 100%;
$Absolute: absolute;
$Relative: relative;
$Pointer: pointer;
$InlineFlex: inline-flex;
$Center: center;
$FlexEnd: flex-end;
$FlexStart: flex-start;
$SpaceBetween : space-between;
$Column : column;

