$S100: 100%;
$Absolute: absolute;
$Relative: relative;
$Pointer: pointer;
$InlineFlex: inline-flex;
$Center: center;
$FlexEnd: flex-end;
$FlexStart: flex-start;
$SpaceBetween : space-between;
$Column : column;

.InterntPage {
	padding: 20px;
}

.Contant {
	display: $InlineFlex;
	width: $S100;
}

.FormDetails {
	flex: none;
	width: 550px;
}

.Preview {
	flex: none;
	width: calc(100% - 550px);
	border-radius: 5px;
	display: $InlineFlex;
	justify-content: $Center;
	padding: 20px;
	height: fit-content;
}

.Box {
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
}

.Row {
	width: $S100;
	display: inline-grid;
}

.RowGroup2 {
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.RowGroup3 {
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}


.AnimRadio {
	display: none;

	&:checked {
		+ {
			.AnimIcon {
				border: 1px solid #00ADB5;
				background-color: #00ADB5;
			}
		}
	}
}

.AnimLabel {
	display: $InlineFlex;
	align-items: $Center;
	width: $S100;
	font-size: 14px;
	font-weight: 500;
	color: #111;
	cursor: $Pointer;
}

.AnimIcon {
	width: 15px;
	height: 15px;
	padding: 2px;
	display: block;
	border: 1px solid #393E46;
	border-radius: 100%;
	margin-right: 10px;
	background-size: contain;
	background-color: #222831;
	position: $Relative;
}

.Legend {
	font-size: 16px;
	font-weight: 500;
	color: #222831;
	margin: 0 15px;
	position: $Absolute;
	background: #ffffff;
	left: 0px;
	top: 19px;
	z-index: 1;
	transition: .2s ease all;
}

.Fieldset {
	padding: 0;
	margin: 10px 0;
	width: $S100;
	position: $Relative;
	border: none;

}

.FormGroup {
	width: $S100;
	height: $S100;
	display: $InlineFlex;
}

.FormControl {
	width: $S100;
	padding: 0 15px;
	border: none;
	background: transparent;
	resize: none;
	position: $Relative;
	height: 60px;
	border-radius: 5px;
	border: 1px solid #999;
	background: #fff;

	&.Textarea {
		height: 100px;
		padding: 15px;
	}

	&:focus {
		~ {
			.Legend {
				top: -8px;
				font-size: 11px;
				font-weight: 400;
				color: #717171;
			}
		}
	}

	&:valid {
		~ {
			.Legend {
				top: -8px;
				font-size: 11px;
				font-weight: 400;
				color: #717171;
			}
		}
	}
}


select.FormControl {
	background-image: url(https://akam.cdn.jdmagicbox.com/images/icontent/newwap/cssupport/angle_down_black.svg);
	background-position: calc($S100 - 10px) $Center;
	background-repeat: no-repeat;
}


.Button {
	display: $InlineFlex;
	align-items: $Center;
	justify-content: $Center;
	cursor: $Pointer;
	height: 40px;
	border-radius: 5px;
	padding: 0 10px;
	margin-right: 10px;
	min-width: 150px;
}




.InternetPreview {
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	background: #ffffff;
}
.PreviewLogo {
	display: inline-flex;
	align-items: flex-start;
}
.Table {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	border: 1px solid #EEE;
	border-bottom: 1px solid #0000;
}
.TableHead {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	tr {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		background: #ec262f;
		border-bottom: 1px solid #EEE;
		margin-bottom: 1px;
		text-align: left;
		th {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			padding: 0 10px;
			font-size: 10px;
			font-weight: 500;
			color: #fff;
			height: 35px;
			line-height: 35px;
			flex: 1;
		}
	}
}

.TableBody {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	tr {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		background: #ffffff;
		border-bottom: 1px solid #EEE;
		margin-bottom: 1px;
		td {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			padding: 0 10px;
			font-size: 12px;
			font-weight: 500;
			color: #111;
			height: 35px;
			line-height: 35px;
			flex: 1;
			flex: none;
		}
	}
}
.TableHead {
	tr {
		th {
			flex: none;
		}
	}
}
.FixedTable {
	tr {
		>th {
			&:nth-child(4n+1) {
				width: 55% !important;
			}
			&:nth-child(4n+2) {
				width: 15% !important;
				text-align: center;
			}
			&:nth-child(4n+3) {
				width: 15% !important;
				text-align: center;
			}
			&:nth-child(4n+4) {
				width: 15% !important;
				text-align: right;
			}
		}
		>td {
			&:nth-child(4n+1) {
				width: 55% !important;
			}
			&:nth-child(4n+2) {
				width: 15% !important;
				text-align: center;
			}
			&:nth-child(4n+3) {
				width: 15% !important;
				text-align: center;
			}
			&:nth-child(4n+4) {
				width: 15% !important;
				text-align: right;
			}
		}
	}
}
.WhiteRow {
	display: inline-flex;
	align-items: flex-start;
	width: 100%;
}
.LabelItem {
	flex: 1 1 150px;
	text-align: left;
}
.LabelText {
	flex: 1 1 calc(100% - 100px);
	text-align: left;
}
.SquareList {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.SquareBox {
	width: calc((100% / 4) - 25px);
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	flex-direction: column;
	border-radius: 5px;
	padding: 15px 20px;
	height: 100%;
	background: #ec262f;
}
.SquareLable {
	min-height: 50px;
	line-height: 1.25;
}



.Hathway {
		.TableContainer {
			.TableHead {
				tr {
					background: #D0342B;
				}
			}
		}
		.SquareBox {
			background: #0F397E;
		}
}
.Snet {
		.TableContainer {
			.TableHead {
				tr {
					background: #ec262f;
				}
			}
		}
		.SquareBox {
			background: #ec262f;
		}
}
